.ads {
  margin-bottom: 30px;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    cursor: pointer;
    margin-right: 10px;
  }
  &__img {
    img {
      width: 100%;
    }
  }
}
