.categories {
  &__list {
    margin-top: 20px;
    /*    display: flex;
    align-items: center; */
    grid-template-columns: repeat(auto-fill, 135px);
    display: grid;
    gap: 26px;
    justify-content: center;
    /*     flex-wrap: wrap; */
  }
  &__wrap {
    /*     width: 100%; */
  }

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    padding: 20px;
    height: 104px;
    width: 135px;
  }

  &__img {
  }

  &__descr {
  }
}
