@import "./variables";
@import "./libs/normalize";
@import "./components/all";

body {
  background: white;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  &_cart {
    margin-top: 40px;
    max-width: 850px;
  }
}
